logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

dist
dist-ssr
build

.env
.env.*
*.local

!.env.template
!.env.example

.vite
.cache
.eslintcache
.stylelintcache
*.tsbuildinfo

.docker

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

.DS_Store
Thumbs.db

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?